@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
  font-family: 'Playfair Display', serif;;
}
img {
  max-width: 100%;
}
.logo {
  height: 40vh;
}
form{
  display: flex;
  flex-direction: column;
}
/*swip*/

.text-blue {
  color : #0D3B66;
}
.text-red {
  color: #F95738;
}
.list-element {
  border: 2px solid #0D3B66;
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 16px;
  background-color: white;
}
.list-element:hover {
  background-color: #F7E194;
}