@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
  font-family: 'EB Garamond', serif;;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.logo {
  height: 40vh;
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
}
/*swip*/
.btn {
  margin: 5px;
  width: 400px;
  max-width: 100%;
  height: 32px;
  border-radius: 32px;
  border-style: none;
  font-family: EB Garamond;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FEFCFB;
}
.red {
  background-color: #F95738;
}
.blue {
  background-color: #0D3B66;
}
.text-blue {
  color : #0D3B66;
}
.text-red {
  color: #F95738;
}
.text-yellow {
  color: #F6DA79;
}
.list .element{
  width: 340px;
}
.element {
  border: 2px solid #0D3B66;
  padding: 20px;
  margin: 10px auto;
  border-radius: 16px;
  background-color: white;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
}
.dashboard .element {
  width: 150px;
}
/*
 ######   #######  ##     ## ########     ###    ##    ## ##    ##    ########  ######## ########    ###    #### ##        ######  
##    ## ##     ## ###   ### ##     ##   ## ##   ###   ##  ##  ##     ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##       ##     ## #### #### ##     ##  ##   ##  ####  ##   ####      ##     ## ##          ##     ##   ##   ##  ##       ##       
##       ##     ## ## ### ## ########  ##     ## ## ## ##    ##       ##     ## ######      ##    ##     ##  ##  ##        ######  
##       ##     ## ##     ## ##        ######### ##  ####    ##       ##     ## ##          ##    #########  ##  ##             ## 
##    ## ##     ## ##     ## ##        ##     ## ##   ###    ##       ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
 ######   #######  ##     ## ##        ##     ## ##    ##    ##       ########  ########    ##    ##     ## #### ########  ######  */

 .company-details {
   margin: 30px;
 }
.company-details .title {
  text-align: left;
  font-weight: 900;
  width: 100px;
 }
 .company-details .content {
   text-align: left;
   width: 400px;
 }
.company-details .line {
  display: flex;
 }
/*
########     ###     ######  ##     ## ########   #######     ###    ########  ########     ########  ######## ########    ###    #### ##        ######     
##     ##   ## ##   ##    ## ##     ## ##     ## ##     ##   ## ##   ##     ## ##     ##    ##     ## ##          ##      ## ##    ##  ##       ##    ##    
##     ##  ##   ##  ##       ##     ## ##     ## ##     ##  ##   ##  ##     ## ##     ##    ##     ## ##          ##     ##   ##   ##  ##       ##          
##     ## ##     ##  ######  ######### ########  ##     ## ##     ## ########  ##     ##    ##     ## ######      ##    ##     ##  ##  ##        ######     
##     ## #########       ## ##     ## ##     ## ##     ## ######### ##   ##   ##     ##    ##     ## ##          ##    #########  ##  ##             ##    
##     ## ##     ## ##    ## ##     ## ##     ## ##     ## ##     ## ##    ##  ##     ##    ##     ## ##          ##    ##     ##  ##  ##       ##    ##    
########  ##     ##  ######  ##     ## ########   #######  ##     ## ##     ## ########     ########  ########    ##    ##     ## #### ########  ######*/
.dashboard-details header{
  display: flex;
  align-items: center;
}
.dashboard-details button {
  color: #0D3B66;
  background-color: white;
  border: 1px solid #0D3B66;
  width: 100px;
}
.candidate-list {
  display: inline-block;
  margin:10px;
  width: 96%;
  padding-inline-start: 0px;
}
.candidate-list li {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.candidate-list .inline-avatar {
  border-radius: 50%;
  height: 100px;
 width: 100px;
 max-width: 100%;
}
.candidate-list .inline-level{
  width: 50px ;
  height: 50px;
}
.icon-search {
  width: 20px;
  max-width: 100%;
}